[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sphinx = "*"
sphinx-autobuild = "*"
sphinxcontrib-autoyaml = "*"
myst-parser = {extras = ["linkify"], version = "*"}
pipenv = "*"

[dev-packages]
pytest = "*"
pytest-sphinx = "*"
pylint = "*"
pytest-pylint = "*"
