[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
gitpython = "*"
myst-parser = {extras = ["linkify"], version = "*"}
sphinx = "*"
sphinx-autobuild = "*"
sphinx-book-theme = "*"
sphinx-design = "*"
sphinx-pyscript = "*"
sphinx-tippy = "*"
sphinx-togglebutton = "*"
sphinxcontrib-autoyaml = "*"
sphinxcontrib-youtube = "*"
poetry = "*"
pipenv = "*"
pre-commit = "*"

[dev-packages]
ipython = "*"
loguru = "*"
pylint = "*"
pylint-junit = "*"
pytest = "*"
pytest-cov = "*"
pytest-pylint = "*"
pytest-sphinx = "*"
semver = "*"
tomli = "*"
black = "*"
