[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
myst-parser = {extras = ["linkify"], version = "*"}
pipenv = "*"
sphinx = "*"
sphinx-autobuild = "*"
sphinx-design = "*"
sphinx-nefertiti = "*"
sphinxcontrib-autoyaml = "*"

[dev-packages]
pytest = "*"
pytest-sphinx = "*"
pylint = "*"
pytest-pylint = "*"
